.multi-select-container {
  display:flex;
  position:fixed;
  bottom:0;
  width:100vw;
  justify-content:center;
  align-items:center;
  background-color:rgb(118, 195, 209);
}
.grid-row {
  display:flex;
  justify-content:center;
}
.grid-display {
  padding:20px;
  display:flex;
  flex-direction:column;
}
.row-container {
  display:flex;
  flex-direction:column;
}
.row {
  display:flex;

}
.group7 {
  display:flex;
  flex-direction:column;
  height:800px;
  margin:20px 150px 10px 150px;
  width:100px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container7 {
  display:flex;
  justify-content:center;

}
.group4 {
  display:flex;
  flex-direction:column;
  height:400px;
  margin:0px 40px 0px 40px;
  padding:10px 0px 0px 0px;
  width:330px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container4 {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding-bottom:10px;

}
.group56 {
  display:flex;
  flex-direction:column;
  height:600px;
  margin:0px 40px 0px 40px;
  padding:10px 0px 0px 0px;
  width:330px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container56 {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding-bottom:10px;

}
.select-form{
  width:50px;
}