.classes-container {

}
.classes-container h1{
  text-align:center;
}
.multi-select-container {
  display:flex;
  position:fixed;
  bottom:0;
  width:100vw;
  justify-content:center;
  align-items:center;
  background-color:rgb(118, 195, 209);
}
.grid-row {
  display:flex;
  justify-content:center;
}
.grid-display {
  padding:20px;
  display:flex;
  flex-direction:column;
}
.row-container {
  display:flex;
  flex-direction:column;
  
}
.row-main-container {
  display:flex;
  justify-content: center;
}
.row {
  display:flex;
  justify-content:flex-start;

}
.group7 {
  display:flex;
  flex-direction:column;
  height:700px;
  margin:20px 150px 10px 150px;
  width:100px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container7 {
  display:flex;
  justify-content:center;

}
.group4 {
  display:flex;
  flex-direction:column;
  height:350px;
  margin:0px 40px 0px 40px;
  padding:10px 0px 0px 0px;
  width:300px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container4 {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding-bottom:10px;

}
.group56 {
  display:flex;
  flex-direction:column;
  height:500px;
  margin:0px 40px 0px 40px;
  padding:10px 0px 0px 0px;
  width:330px;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.group-container56 {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding-bottom:10px;

}
.select-form{
  width:120px;
}


.student-card-container { /* changes style under card */
  width:160px;
  height:150px;
  padding: 0px;
  display: flex;
  flex-direction:column;
}
.student-name-points-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display:flex;
  color: white;
  font-size: 30px;
  justify-content:center;
  background-color: black;

}
.student-card-points {
  /* flex-grow:1; */
  text-align:center;
  font-size:55px;
  font-weight:bold;
  /* justify-content:center; */
  align-self:center;

}

.student-card-popup {
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  bottom:0;
}
.classes-cb-list-container{
  display:flex;
  justify-content:center;
  width:1500px;
  overflow-y:visible;
}
.classes-title-menu-container{
  display:flex;
  justify-content:center;
  align-items:center;
}
.classes-title-menu-container h1{
  font-size:45px;
}
.temp-container {
  margin-bottom:100px
}

.classes-count {
  border-radius:50%;
  width:45px;
  height:45px;
  margin-left:10px;
  border: 5px solid rgb(119 29 216);
  background-color: rgb(0 0 0);
  color:white;
  text-align:center;
  font-size:25px;
}


/* studentCard */


.student-card-container {
  display:flex;
  flex-direction:column;
  align-items:center;
 }

 .student-icon-container {
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
 }
 .student-head {
   background-color:black;
   background-image: radial-gradient(circle at top left, rgb(95, 94, 94) 10%, black );
   height:40px;
   width:40px;
   border-radius:50%;
   margin-bottom:2px;
 }
 .student-head-button-container {
   display:flex;
 }
 .student-body {
   background-color: black;
   background-image: radial-gradient(circle at top left, rgb(95, 94, 94) 10%, black );

   height: 20px;
   width: 75px;
   border-radius: 50px 50px 0% 0%
 }
 .pts-buttons {
  display:none;
  max-height:20px;
  height:20px;
}

.student-card-container:hover .pts-buttons{
  display:inline;
}


/* Desk & Desk Buttons */
 .desk-top {
   height:16px;
   color:rgb(0, 0, 0);
   text-align:center;
   font-size:20px;
   font-weight:bold;
   width:150px;
   /* opacity:130%; */
   border-radius:5px;
   background-color:rgb(77, 63, 63)
 }
 .desk {
   height:60px;
   width:130px;
   /* opacity:80%; */
   background-color:rgb(149, 181, 223);
   color:black;
   text-align:center;
   font-weight:bold;
   font-size:20px;
   margin:0 9px 0px 9px;
   border-bottom-left-radius:3px;
   border-bottom-right-radius:3px;
   box-shadow:5px 3px 7px 2px grey;
 }


 .desk-button-main-container {
  display:flex;
  /* justify-content:center; */
  position:relative;
  /* width: 160px; */
  justify-content: center;
  align-items: end;
}

.desk-button-container {
  /* display:none; */
  max-height:20px;
  height:20px;
  position:absolute;
  width: 150px;
  /* margin-left: -10px; */
  display: flex;
  justify-content: flex-end;
  align-items: end
  
 }
 .student-card-container:hover .desk-button-container{
  justify-content: 'space-between'
 
 }
.desk-button {
  display:none;
  margin-left: 76px;
  margin-right:-12px
}

.student-card-container:hover .desk-button{
 display:inline;
}
/* .pts-buttons:active{
  background-image: radial-gradient(circle, yellow, transparent)
} */



.student-card-count{
  flex-grow:1;
  position:absolute;
}

.testing {
  background-color:rgb(117, 117, 117)
}