.text-area-styles {
  width: 500px;
  height: 50px;
  margin: 5px;
};
.new-name-list-container {
  display:flex;
  flex-direction:column;
}
.new-name-list {
  display:flex;

}
.new-class-link{
  background-color:rgb(113, 197, 169);
  padding:20px;
  box-shadow: 5px 5px 7px rgb(71, 110, 71);
  border-radius:20px;
  width:100px;
  text-decoration:none;
  margin:150px;
}
.new-class-link:hover {
  cursor:pointer;
  background-color:rgb(190, 250, 230);
}
.new-class-container button {
  outline:none;
  width:100px;
  background-color:transparent;
  border:none;
}
.new-class-container button:hover {
  cursor:pointer
}
/* .create-class button {
  /* display:none; */
/* } */
.names-input-container {
  margin-top: 30px;
}
.new-class-container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  box-sizing:border-box;
}